{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>NutrilifeGreen - Contatos </title>
    <style type="text/css">
       body
       {
       	background-repeat: no-repeat;
	    background-color: #3ba446;
        font-family: Cooper;
        color: white;
       }
     </style>
    <body align="center">
    <img src="{% static 'img/logonutrilifegreen.jpg' %}" width="180px" height="200px" align="center">

    <h1 align="center">Será um prazer atendê-lo em qualquer um dos nossos canais</h1>
    </linkstyle>
    <div align="center">
	<a href=""><img src="{% static 'img/zap.png' %}" width="130px"></a>
	<a href="https://www.instagram.com/nutrilifegreen/"><img src="{% static 'img/insta.png' %}" width="140px"></a>
	<a href="https://twitter.com/nutrilifegreen"><img src="{% static 'img/twitter.png' %}" width="115px"></a>
	<a href=""><img src="{% static 'img/email.png' %}" width="135px"></a>
   </div>
</body>
</head>
</html>