{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home NutrilifeGreen</title>
    <style type="text/css">
       body
       {
          background-repeat: no-repeat;
          background-color: #3ba446;
          font-family: Cooper;
          color: white;
       }
     </style>
    <body align="center">
    <img src="{% static 'img/homenutrilife.jpg' %}" width="850px" height="250px" align="center">

    <h1 align="center">Um Estilo de Vida Saudável</h1>
    </linkstyle>
    <div align="center">
	<a href="quemsomos"><img src="{% static 'img/quemsomos.jpg' %}" width="180px"></a>&nbsp;&nbsp;
	<a href="noticias"><img src="{% static 'img/noticias.jpg' %}" width="170px"></a>&nbsp;&nbsp;
	<a href="receitas"><img src="{% static 'img/receitas.jpg' %}" width="180px"></a>&nbsp;&nbsp;
	<a href="contact"><img src="{% static 'img/contatos.jpg' %}" width="180px"></a>
   </div>
</body>
</head>
</html>


