{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home NutrilifeGreen</title>
    <div align="center">
       <link  rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
       <body align="center">
         <img src="{% static 'img/homenutrilife.jpg'%}" width="850px" height="250px" align="center">
         <h1 align="center">Seu Novo Conceito de Viver Bem!</h1>
         </linkstyle>
         <a href="quemsomos"><img src="{% static 'img/quemsomos.jpg'%}" width="180px" height="50px"></a>
         <a href="noticias"><img  src="{% static 'img/noticias.jpg'%}"  width="180px" height="50px"></a>
         <a href="receitas"><img  src="{% static 'img/receitas.jpg'%}"  width="180px" height="50px"></a>
         <a href="contact"><img   src="{% static 'img/contatos.jpg'%}"  width="180px" height="50px"></a>
       </body>
    </div>
</head>
</html>