{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>NutrilifeGreen - Listagem de Categorias</title>
    <div align="center">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <body align="center">
        <img src="{% static 'img/logonutrilifegreen.jpg' %}" width="180px" height="200px" align="center">
        <h1 align="center">Categorias de Produtos</h1>

        <table align="center">
            <tr><td>
           {% for cat in categorias %}
           <p align="left">{{cat.tipo}} {{cat.categoria}}</p>
           {%endfor%}
            </td></tr>
      </table>
    </linkstyle>
    </body>
    </div>
</head>
</html>
