{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>NutrilifeGreen - Listagens</title>
    <div align="center">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <body align="center">
        <img src="{% static 'img/logonutrilifegreen.jpg' %}" width="180px" height="200px" align="center">
        <h1 align="center">Listagem dos Cadastros</h1>
        <table align="center">
          <tr>
             <td width="200" align="center"><img src="{% static 'img/categoriasnutri.png' %}" width="150px"></td>
             <td width="200" align="center"><img src="{% static 'img/clientesnutri.png'%}" width="150px"></td>
             <td width="200" align="center"><img src="{% static 'img/estilosnutri2.png'%}" width="130px"></td>
             <td width="200" align="center"><img src="{% static 'img/produtosnutri.png' %}" width="170px"></td>
          </tr>
          <tr>
             <td align="center"><a href="ListCateg">Lista de Categorias</a></td>
              <td align="center"><a href="listclientes">Lista de Clientes</a></td>
              <td align="center"><a href="listestilo">Lista de Estilos</a></td>
              <td align="center"><a href="listprodutos">Lista de Produtos</a></td>
          </tr>
        </table>
    </linkstyle>
    </body>
    </div>
</head>
</html>

