{%load static %}
<!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>NutrilifeGreen - Quem Somos</title>
    <div align="center">
      <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
      <body align="center">
        <img src="{% static 'img/logonutrilifegreen.jpg' %}" width="180px" height="200px" align="center">

        <h1 align="center">Quem Somos</h1>

        <p>O fascínio pelo universo da Vida saudável e do bem-estar deu origem a este portal, que traz muita informação e conhecimento.</p>
        <p>Esse é um dos pilares da loja, que nunca se limitou à venda do produto, mas em oferecer um conceito completo em alimentação e</p>
        <p>vida saudável, orientando nossos clientes da melhor forma para que eles encontrem os produtos certos para manter a saúde e a </p>
        <p>qualidade de vida, sempre!A empresa agrega em sua essência valores e princípios como o comércio justo, o consumo consciente, a</p>
        <p>ética nos negócios e a responsabilidade social, cultural e ambiental.</p>

        <h1 align="center">Missão</h1>

        <p>Gerar um ambiente saudável, que fornece produtos de alta qualidade, com foco na vida saudável, no bem estar do cliente,</p>
        <p>sua satisfação e qualidade de vida.</p>

        <h1 align="center">Visão</h1>

        <p>Ser uma empresa reconhecida pelo trabalho de excelência, que compartilha um estilo de vida saudável e um novo modo de olhar a vida e o mundo.</p>
        </linkstyle>
      </body>
    </div>
</head>
</html>