{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>NutrilifeGreen - Receitas Saudáveis</title>
    <div align="center">
      <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
      <body align="center">
         <img src="{% static 'img/logonutrilifegreen.jpg' %}" width="180px" height="200px" align="center">
         <h1 align="center">Dicas de Receitas Saudáveis</h1>
         </linkstyle>
     	 <a href="https://www.youtube.com/watch?v=P3-5TuTBRVI"><img src="{% static 'img/moussechocolate.png' %}" width="180px"></a>&nbsp;&nbsp;
	     <a href="https://www.youtube.com/watch?v=7wJ0no6jIZ8"><img src="{% static 'img/bolobanana.png' %}" width="220px"></a>&nbsp;&nbsp;
	     <a href="https://www.terra.com.br/vida-e-estilo/culinaria/tudogostoso/crepioca-recheada-fit,3619979a816f060f587659876b669be03jdupyms.html"><img src="{% static 'img/crepioca.png' %}" width="190px"></a>
      </body>
    </div>
</head>
</html>
